:root {
  --navbar-height: 60px;
  --grey-base: rgb(224,224,224);
  --content-body-color: rgb(119, 119, 119);
  --sign-in-red: rgb(165, 13, 13);
  --red-base: rgb(240, 20, 20);
  --modal-top-red: rgb(238, 45, 50); /* Color picking the border on the modal gave me this as the color */
  --font-stack: 'NeuzeitGrotesk-Light', sans-serif;
  --font-stack-bold: 'NeuzeitGrotesk-BoldCondensed', sans-serif;
}

@font-face {
  font-family: 'NeuzeitGrotesk-Light';
  src: url('fonts/DINNeuzeitGrotesk-Light.otf');
}
@font-face {
  font-family: 'NeuzeitGrotesk-BoldCondensed';
  src: url('fonts/DINNeuzeitGrotesk-BoldCond.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-stack);
  box-sizing: border-box;
}

header.navbar {
  display: flex;
  position: fixed;
  top: 0;
  padding: 0;
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--grey-base);
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}

.logo {
  flex: 0 1;
  margin-left: 3%;
}

.logo img {
  height: calc(var(--navbar-height) - 1.5rem);
}

.nav-links {
  display: flex;
  flex: 1 0;
  justify-content: flex-end;
  margin-right: 3%;
}

.nav-links > a {
  font-size: .75rem;
  letter-spacing: 2px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 2rem;
}
.nav-links > a:last-child {
  color: var(--sign-in-red);
  margin-right: 0;
}


article {
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: var(--navbar-height);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: var(--navbar-height);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  --background-size: 100vw;
  background-repeat: no-repeat;
  height: calc(972/1920 * var(--background-size));
}

.hero {
  background-image: url('img/01_head_lg.jpg');
  background-size: cover;
  background-position: top;
  height: 100%;
  /* background-position: right 0 top var(--navbar-height);
  background-attachment: fixed;
  height: calc(972/1920 * var(--background-size) - var(--navbar-height)); */
/*TODO: If removing background-attachment: fixed, then also remove height line above*/
}

.hero .red-line {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--red-base);
  width: calc(190/1920 * 100%);
  height: calc(41/1920 * 100%);
}

.radically-different {
  --text-size: 14vw;
  position: relative;
  top: 11%;
  font-family: var(--font-stack-bold);
}

.hero .radically-different > div {
  font-size: var(--text-size);
  text-transform: uppercase;
  line-height: var(--text-size);
  position: relative;
  height: var(--text-size);
  width: 50vw;
  margin-left: -1.2vw;
}

.hero .radically-different .overlay {
  top: 3vw;
  left: 0;
  height: 7vw;
  opacity: 0.9;
}

.hero .anti-establishment {
  --text-size: 4vw;
  font-family: var(--font-stack-bold);
  position: absolute;
  top: 11.5%;
  right: 0%;
  display: inline-block;
}

.hero .anti-establishment > div {
  font-size: var(--text-size);
  text-transform: uppercase;
  line-height: var(--text-size);
  position: relative;
  height: var(--text-size);
  width: 21vw;
  text-align: justify;
  padding-left: .5vw;
}

.hero .anti-establishment .overlay {
  top: 1.5vw;
  right: 0;
  height: 0.5vw;
  opacity: 1;
}

.overlay.four-fifths {
  width: 80%;
}
.overlay {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
}
.overlay.red {
  background-color: var(--red-base);
}

.overlay.black {
  background-color: black;
}

.about-us {
  position: relative;
  background-image: url('img/aboutus.png');
  background-size: contain;
}

.about-us h1 {
  text-transform: uppercase;
}

.about-us .sucks {
  --text-size: 17vw;
  font-size: var(--text-size);
  font-family: var(--font-stack-bold);
  line-height: var(--text-size);
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 21vw;
  left:0;
  margin-left: -1vw;
}

.about-us .sucks .overlay {
  top: 11vw;
  left: 0;
  height: 16vw;
  width: 47vw;
  opacity: 0.9;
}

.about-us .content-area {
  position: absolute;
  top: 5vw;
  right: 2%;
  height: 8vw;
  width: 26.4vw;
  padding: 1vw;
  padding-right: 3vw;
  font-size: 1.25vw;
  line-height: 150%;
  color: var(--content-body-color);
}

.about-us .content-area h1,
.about-us .content-area h2 {
  color: black
}

.publishers {
  position: relative;
  background-image: url('img/pub_notext.png');
  background-size: contain;
}

.publishers h1 {
  text-transform: uppercase;
}

.publishers .content-area {
  position: absolute;
  top: 12vw;
  right: 9.5%;
  height: 7vw;
  width: 28vw;
  padding: 1vw;
  color: white;
  font-size: 1.25vw;
  line-height: 150%;
}

.demand {
  position: relative;
  background-image: url('img/dem_notext.png');
  background-size: contain;
}

.demand h1 {
  text-transform: uppercase;
}

.demand .content-area {
  position: absolute;
  top: 10vw;
  left: 6%;
  height: 8vw;
  width: 28vw;
  padding: 1vw;
  color: black;
  font-size: 1.25vw;
  line-height: 150%;
  color: var(--content-body-color);
}

.demand .content-area h1,
.demand .content-area h2 {
  color: black
}

.connect {
  position: relative;
  background-image: url('img/signin.png');
  background-size: contain;
  height: calc(1138/1919 * var(--background-size));
}

.connect h1 {
  font-size: 2vw;
  color: gray;
}

.connect .centered {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75vh;
  text-align: center;
  line-height: 200%;
}

button {
  display: block;
  width: 26vw;
  height: 8vw;
  font-size: 2vw;
  color: white;
  border: none;
  opacity: 0.9;
  font-family: inherit;
  cursor: pointer;
}

button.red {
  background-color: var(--red-base);
}

button.gray {
  background-color:var(--content-body-color);
}

.connect button {
  margin-bottom: 2.5vw;
  margin-left: auto;
  margin-right: auto;
}

.connect button.red {
  top: 10vw;
}

.connect button.gray {
  top: 24vw;
}

.modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal-overlay.open {
  display: block;
}

.modal {
  position: relative;
  top: 10vh;
  margin: auto;
  width: 80vw;
  border-top: 2rem solid var(--modal-top-red);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal header h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.modal footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-invite footer {
  margin-bottom: 3.5rem;
}

.modal-content {
  width: 60%;
  margin-bottom: 3%;
}
.modal-content > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password {
  color: var(--content-body-color);
  align-self: start;
  font-size: 1.25rem;
}

.no-account-invite {
  margin: 1rem;
  font-size: 1.25rem;
}

.no-account-invite .red {
  color: var(--red-base);
  cursor: pointer;
}

form input {
  width: 100%;
  display: block;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--grey-base);
  font-size: 1.5rem;
  padding: 1rem 1rem 0rem 0rem;
  margin: 1rem;
  box-sizing: border-box;
}

form input::placeholder {
  text-transform: uppercase;
  color: var(--content-body-color);
  font-size: 1.5rem;
}

form input:focus {
  outline: none;
}
