:root {
  --navbar-height: 110px;
  --grey-base: rgb(224,224,224);
  --sign-in-red: rgb(165, 13, 13);
}

@font-face {
  font-family: 'NeuzeitGrotesk-Light';
  src: url('fonts/DINNeuzeitGrotesk-Light.otf');
}
@font-face {
  font-family: 'NeuzeitGrotesk-BoldCondensed';
  src: url('fonts/DINNeuzeitGrotesk-BoldCond.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'NeuzeitGrotesk-Light', sans-serif;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  padding: 0;
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--grey-base);
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}

.logo {
  flex: 0 1;
  margin-left: 3%;
}

.logo img {
  height: calc(var(--navbar-height) - 2rem);
}

.nav-links {
  display: flex;
  flex: 1 0;
  justify-content: flex-end;
  margin-right: 3%;
}

.nav-links > a {
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 2rem;
}
.nav-links > a:last-child {
  color: var(--sign-in-red);
  margin-right: 0;
}


article {
  overflow: scroll;
  scroll-snap-type: y proximity;
  scroll-padding-top: var(--navbar-height);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: var(--navbar-height);

  -webkit-overflow-scrolling: touch;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  background-size: cover;
}

.hero {
  background-image: url('img/header_nude.png');
  background-position: right;
  /* TODO: Need to customize the height of each of these to match the content. Not Just blanket 100vh */
}

.radically-different {
  --text-size: 12rem;
  position: absolute;
  top: 42%;
  font-family: 'NeuzeitGrotesk-BoldCondensed', sans-serif;
}
/* TODO: Convert to using hX tags?  */
.hero .radically-different > div {
  font-size: var(--text-size);
  text-transform: uppercase;
  line-height: var(--text-size);
  position: relative;
  height: var(--text-size);
  width: 44rem;
  margin-left: -1rem;
}

/* TODO: Find a way to make the top a ratio of the text-size and the thickness(height) */
.hero .radically-different .overlay {
  top: 3rem;
  left: 0;
  height: 5rem;
  opacity: 0.8;
}

.hero .anti-establishment {
  --text-size: 6rem;
  font-family: 'NeuzeitGrotesk-BoldCondensed', sans-serif;
  position: absolute;
  top: 17%;
  right:0;
  display: inline-block;
}

.hero .anti-establishment > div {
  font-size: var(--text-size);
  text-transform: uppercase;
  line-height: var(--text-size);
  position: relative;
  height: var(--text-size);
  width: 32rem;
  text-align: justify;
}

.hero .anti-establishment .overlay {
  top: 2.5rem;
  right: 0;
  height: 0.5rem;
  opacity: 1;
}

.overlay.four-fifths {
  width: 80%;
}
.overlay {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
}
.overlay.red {
  background-color: red;
}

.overlay.black {
  background-color: black;
}

.about-us {
  position: relative;
  background-image: url('img/aboutus_nude.png');
  background-position: right;
}

.about-us .sucks {
  --text-size: 15rem;
  font-size: var(--text-size);
  font-family: 'NeuzeitGrotesk-BoldCondensed', sans-serif;
  line-height: var(--text-size);
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 45%;
  left:0;
  margin-left: -1rem;
}

.about-us .sucks .overlay {
  top: 9.5rem;
  left: 0;
  height: 14rem;
  width: 41rem;
  opacity: 0.8;
}

.publishers {
  background-image: url('img/pub_notext.png'); 
}

.demand {
  background-image: url('img/dem_notext.png');
}

.connect {
  background-image: url('img/signin_nude.png');
}
