:root {
  --navbar-height: 110px;
  --grey-base: rgb(224,224,224);
  --sign-in-red: rgb(165, 13, 13);
}

@font-face {
  font-family: 'NeuzeitGrotesk-Light';
  src: url('fonts/DINNeuzeitGrotesk-Light.otf');
}
@font-face {
  font-family: 'NeuzeitGrotesk-BoldCondensed';
  src: url('fonts/DINNeuzeitGrotesk-BoldCond.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'NeuzeitGrotesk-Light', sans-serif;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  padding: 0;
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--grey-base);
  align-items: center;
  justify-content: flex-end;
}

.nav-links {
  margin-right: 5%;
}

.nav-links > a {
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 2rem;
}
.nav-links > a:last-child {
  color: var(--sign-in-red);
  margin-right: 0;
}


article {
  overflow: scroll;
  scroll-snap-type: y proximity;
  scroll-padding-top: var(--navbar-height);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: var(--navbar-height);

  -webkit-overflow-scrolling: touch;
}

section {
  scroll-snap-align: start;
}
.scroll-snap {
  scroll-snap-align: start;
  height: 100vh;
}