.modal {
  --red-header-height: 2.8vh;
  position: relative;
  top: 10vh;
  margin: auto;
  width: 80vw;
  max-width: 800px;
  border-top: var(--red-header-height) solid $modal-top-red;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: map-get($z-indexes, 'modal' );

  @include desktop {
    --red-header-height: 2.5vh;
    width: 65vw;
  }

  header h1 {
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include tablet {
      width: 60%;
    }
  }

  .modal-content {
    width: 80%;
    margin-bottom: 3%;

    @include desktop {
      width: 60%;
    }
  }

  .button {
    width: 50%;
    font-size: 1.25rem;
    min-height: 3.5rem;
    max-height: 6vh;
  }

  .modal-close {
    position: absolute;
    top: calc(var(--red-header-height) * -1);
    right: 0;
    height: var(--red-header-height);
    font-size: calc(var(--red-header-height) * 0.9);
    font-family: $font-stack;
    vertical-align: middle;
    color: white;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
}

.modal-overlay {
  display: none;

  // Apply background dimming
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: map-get($z-indexes, 'navbar' );
    opacity: 0.5;
    background-color: $grey-base;
  }

  &.open { display: block; }
}
