.about-us {
  @extend %page-section;
  position: relative;
  background-image: url('img/aboutus.png');
  background-size: contain;

  h1 { text-transform: uppercase; }

  .sucks {
    $text-size: 17vw;
    font-size: $text-size;
    font-family: $font-stack-bold;
    line-height: $text-size;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 21vw;
    left:0;
    margin-left: -1vw;

    .text-overlay {
      @extend %text-overlay;
      top: 11vw;
      left: 0;
      height: 16vw;
      width: 47vw;
      opacity: 0.9;
    }
  }

  .content-area {
    position: absolute;
    top: 5vw;
    right: 2%;
    height: 8vw;
    width: 26.4vw;
    padding: 1vw;
    padding-right: 3vw;
    font-size: 1.25vw;
    line-height: 150%;
    color: $content-body-color;

    h1, h2 { color: black; }
  }
}