.publishers {
  @extend %page-section;
  position: relative;
  background-image: url('img/pub_notext.png');
  background-size: contain;

  h1 {
    text-transform: uppercase;
  }

  .content-area {
    position: absolute;
    top: 12vw;
    right: 9.5%;
    height: 7vw;
    width: 28vw;
    padding: 1vw;
    color: white;
    font-size: 1.25vw;
    line-height: 150%;
  }
}