.button {
  --button-height: 8vw;
  display: block;
  width: 26vw;
  height: var(--button-height);
  font-size: 2vmax;
  font-family: inherit;
  color: white;
  border: none;
  opacity: 0.9;
  cursor: pointer;

  &.red { background-color: $red-base; }
  &.gray { background-color: $content-body-color; }
  &.rounded {
    border-radius: calc(var(--button-height) / 2);
    padding-left: calc(var(--button-height) / 2);
    padding-right: calc(var(--button-height) / 2);
  }
}
