$navbar-height: 60px;
$grey-base: rgb(224, 224, 224);
$content-body-color: rgb(119, 119, 119);
$red-base: rgb(240, 20, 20);
$modal-top-red: rgb(238, 45, 50);
$font-stack: 'NeuzeitGrotesk-Light', sans-serif;
$font-stack-bold: 'NeuzeitGrotesk-BoldCondensed', sans-serif;
$background-size: 100vw;

$breakpoints: (
  'desktop': 1024px,
  'tablet': 480px // maybe 600px
);

$z-indexes: (
  'navbar': 1000,
  'page1': 100,
  'page2': 200,
  'page3': 300,
  'page4': 400,
  'modal': 2000
)